<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm thông tin</title>

    <script src="assets/jquery/jquery.3.2.1.js "></script>
    <script src="assets/bootstrap/js/bootstrap.min.js "></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/style_admin.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="assets/bootstrap/js/parallax.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/jquery-confirm-v3.3.0/dist/jquery-confirm.min.css">
    <script src="assets/jquery-confirm-v3.3.0/dist/jquery-confirm.min.js"></script>

</head>

<body>
<div id="header">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="text-align: center;">
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="logo">
                <img src="image/logoabc.png" width="120" height="100" style="margin-left: 140px">
            </div>
        </div>

    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Beauty 2D</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" style="margin-left: 150px;font-size: 18px ">Quản lý > <i id="temp">Quản lý thông tin</i><i>>Thêm
                thông tin</i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 300px" href="#">Admin <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" style="margin-left: 300px">
                    <li><a href="#">Thông tin</a></li>
                    <li><a href="#">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div style="max-width:300px; float: left; margin-right: 20px;">
    <div class="vertical-menu col-sm-4">
        <a href="/admin" id="home"><i class="glyphicon glyphicon-home"></i>&ensp;Trang chủ</a>
        <a href="/quanlytaikhoan" id="TaiKhoan" ><i class="glyphicon glyphicon-user"></i>&ensp;Quản lý tài khoản</a>
        <a href="/quanlydonhang" id="DonHang"><i class="glyphicon glyphicon-book"></i>&ensp;Quản lý đơn hàng</a>
        <a href="/quanlythongtin" id="ThongTin" class="active"><i class="glyphicon glyphicon-tasks"></i>&ensp;Quản lý thông tin</a>
        <a href="/quanlysanpham" id="SanPham"><i class="glyphicon glyphicon-sunglasses"></i>&ensp;Quản lý sản phẩm</a>
        <br>
    </div>
</div>
<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
    <form style="background-color: #EEE ;padding:30px 20px;opacity: 0.8;" th:object="${event}">
        <div class="row">
            <div class="form-group">
                <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-9"><label class="control-label">Tên Sự Kiện: </label></div>
                    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                        <input type="text" id="input-name" class="form-control" th:field="*{name}" required=true></div>
                    <br> <br>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-9"><label  class="control-label">Thời gian bắt đầu: </label></div>
                    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                        <input type="text" id="input-startDate" class="form-control" th:field="*{startDate}" required=true></div>
                    <br> <br>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-9"><label class="control-label">Thời gian kết thúc:</label></div>
                    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                        <input type="text" id="input-endDate" class="form-control" th:field="*{endDate}" required=true></div>
                    <br> <br>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-9"><label  class="control-label">Nội dung:</label></div>
                    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
                        <input type="text" id="input-content" class="form-control" th:field="*{content}" required=true></div>
                    <br> <br>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div style="float: right">
                <button type="button" onclick="addEdit()" class="btn btn-success">Add</button>
                <button type="button" onclick="onCancel()" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#home").click(function () {
            $("#temp").text($(this).text());
        });
        $("#TaiKhoan").click(function () {
            $("#temp").text($(this).text());
        });
        $("#DonHang").click(function () {
            $("#temp").text($(this).text());
        });
        $("#ThongTin").click(function () {
            $("#temp").text($(this).text());
        });
        $("#SanPham").click(function () {
            $("#temp").text($(this).text());
        });
    })
    function addEdit() {
        $.confirm({
            title : "Xác nhận!",
            content : "Bạn có muốn thêm thông tin này ?",
            buttons : {
                YES : function() {
                    $.ajax({
                        method : 'POST',
                        data : {
                            name : $.trim($('#input-name').val()),
                            startDate : $.trim($('#input-startDate').val()),
                            endDate : $.trim($('#input-endDate').val()),
                            content : $.trim($('#input-content').val())
                        },
                        dataType : 'json',
                        url: "/themthongtin",
                        success : function (res) {
                            console.log(res);
                            if(res.success == "true") {
                                $.alert({
                                    title:"Thông báo",
                                    content:"Thêm thông tin thành công!"
                                })
                            }
                            else if (res.success == "false") {
                                $.alert({
                                    title:"Thông báo",
                                    content:"Thêm thông tin không thành công!" + res.error
                                })
                            }
                        },
                        failure : function (err) {
                            console.log(err);
                        },
                        error : function (err) {
                            console.log(err);
                        }
                    })
                },
                NO : function () {

                }
            }
        })
    }
     function onCancel() {
         $('#input-name').val("");
         $('#input-startDate').val("");
         $('#input-endDate').val("");
         $('#input-content').val("")
     }
</script>

</body>

</html>