<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giỏ hàng</title>

    <script src="assets/jquery/jquery.3.2.1.js "></script>
    <script src="assets/bootstrap/js/bootstrap.min.js "></script>
    <script src="assets/jquery/jsTrangCon.js"></script>
    <script src="assets/jquery/trangcon.js"></script>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/bootstrap/js/parallax.min.js"></script>
</head>
<body>
<div class="body parallax-window" data-parallax="scroll" data-image-src="image/hinh.png">
    <!--thanh đăng nhập-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><i class="fa fa-phone"></i><span>+039 438 1694</span></li>
                    <li><i class="fa fa-envelope-o"></i><span> thiduyen.dang.98@gmail.com</span></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 additional-nav">
                <div th:if="${session.SESSION_FULL_NAME} == null">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="/login" style="color:orangered">Đăng nhập</a></li>
                        <li><a href="/register"style="color:orangered">Đăng ký</a></li>
                    </ul>
                </div>
                <div  th:if="${session.SESSION_FULL_NAME} != null">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="/login" style="color:orangered" th:utext="${session.SESSION_FULL_NAME}"></a></li>
                        <li><a href="/logout"style="color:orangered">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--thanh logo-->
    <div id="header">
        <div class="row" style="margin-right: 0px !important;">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="text-align: center;">
                <div class="text" style="text-align: center">
                    <input type="search" placeholder="Nhập sản phẩm bạn muốn tìm" style="width: 250px;height: 30px; border: 2px solid #A9A9A9;border-radius: 12px;">
                    <button class="btn btn-danger" style="font-size: 15px"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="logo" style="text-align: center">
                    <img src="image/logoabc.png" width="120" height="100" >
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12" style="text-align: center;">
                <a href="/cart">
                    <button class="btn btn-success btn-giohang"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng</button>
                </a>
            </div>
        </div>
    </div>
    <!--thanh trang chủ-->
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Beauty 2D</a>
                    </div>
                </div>
                <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12" >
                    <ul class="nav navbar-nav" style="font-size: 18px; ">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/product">Sản phẩm</a></li>
                        <li><a href="/care">Chăm sóc khách hàng</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="row" style="background-color: lightgray">
        <div class="col-md-1"></div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <h3> Nhận hàng vào các ngày trong tuần từ 8h-18h</h3>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <img src="image/sanpham/ao/ao1.PNG" alt="" width="100px" height="120px">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <h4>Áo sơ mi kiểu tay hoa SSN1 (The Cosmo Turtleneck Dress (Beige))</h4>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    Giá: <p style="color: blue;font-size: 15px;">139.000<small>đ</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="price">
                <p class="title" style="padding-top: 15px; padding-bottom: 15px;">THÔNG TIN THANH TOÁN</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hồ Chí Minh, Quận 1, Phường Phạm Ngũ Lão</p>
                <hr>
                <p><h3></i> Thông tin đơn hàng <b > </b></h3></p>
                <p> <h5>Tạm tính:&emsp;&emsp;139.000đ</h5></p>
                <p><h5> Số lượng:&emsp;&emsp; 3</h5></p>
                <p> <h5> Phí giao hàng:&emsp;&emsp;miễn phí</h5> </p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <input type="email" id="diachiemail" placeholder="Nhập mã giảm giá" size="15" style="padding:10px 10px">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <button class="buttonapdung btn-info" style="font-size: 15px" >Áp dụng</button><br>
                    </div>
                </div>
                <p>
                <h3>Tổng cộng: 421.000d</h3>
                </p>
                <div style="text-align: center">
                    <a href="/buy">
                        <button id="btn-thanhtoan" style="font-size: 30px;background-color: orange;border:0"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Thanh Toán</button>

                    </a>
                </div>
                <br> <br>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
    <br> <br>
    <!--sản phẩm hot chi tiết-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="content-horizontal">
                <div class="title-type" >
                    <span style="color: red">SẢN PHẨM HOT - ƯU ĐÃI ĐẶC BIỆT</span>
                </div>
                <div class="type-horizontal">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="thumbnail anh" >
                                <a href="#">
                                    <img src="image/sphot/balo.PNG" width="100%">
                                    <div class="caption">Balo nữ thời trang</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail anh">
                                <a href="#">
                                    <img src="image/sphot/dongho.PNG" width="100%">
                                    <div class="caption">Đồng hồ nữ cá tính</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail anh">
                                <a href="#">
                                    <img src="image/sphot/giay.PNG" width="100%">
                                    <div class="caption">Sneaker cá tính</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail anh" >
                                <a href="#">
                                    <img src="image/sphot/vay.PNG" width="95%">
                                    <div class="caption">Chân váy cao cấp</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail anh">
                                <a href="#">
                                    <img src="image/sphot/vong.PNG" width="100%">
                                    <div class="caption">Vòng tay thời trang</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="thumbnail anh">
                                <a href="#">
                                    <img src="image/sphot/k5.jpg" width="100%">
                                    <div class="caption">Mắt kính cao cấp</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
    <!--footer-->
    <div id="footer">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <p style="color: white">CÔNG TY TNHH BEAUTY</p>
                <p style="color: white">Email: thiduyen.dang.98@gmail.com</p>
                <p style="color: white">Hotline: 01684348350</p>
                <p style="color: white">Copyright © 2013, Beauty Shop</p>
                <p>Phát triển bởi Đặng Thị Duyên - Phan Thị Thùy Dương</p>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                <div>
                            <span style="border-bottom: 1px solid gray;margin-top:
                                    10px;font-size: 25px;color:black;margin-left: 20px;">Kết nối với chúng tôi</span>
                </div>
                <br>
                <ul class="ketnoi ">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100007916340603"><img class="icon" src="image/logo/facebook.png" style="width: 10%;"></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/discover"><img class="icon" src="image/logo/google-plus.png" alt=""style="width: 10%;"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/"><img class="icon" src="image/logo/instagram.png" alt=""style="width: 10%;"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/"><img class="icon" src="image/logo/linkedin.png" alt=""style="width: 10%;"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=vi"><img class="icon" src="image/logo/twitter.png" alt=""style="width: 10%;"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script>
    // khai bao su dung Jquery
    $(document).ready(function() {
        // Su kien scoll cua window

        $(window).scroll(function() {
            // neu tao do scroll hien tai >50px
            if ($(window).scrollTop() >= 50) {
                // chinh css margin top = 0
                $('nav.navbar').css("margin-top", "0px");
                // add them class cau hinh fixed thanh menu
                $('nav.navbar').addClass("navbar-fixed-top");
            } else {
                $('nav.navbar').css("margin-top", "5px");
                $('nav.navbar').removeClass("navbar-fixed-top");
            }
        })
    })

</script>
</body>

</html>