<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản lý tài khoản</title>

    <script src="assets/jquery/jquery.3.2.1.js "></script>
    <script src="assets/bootstrap/js/bootstrap.min.js "></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/style_admin.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="assets/bootstrap/js/parallax.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/jquery-confirm-v3.3.0/dist/jquery-confirm.min.css">
    <script src="assets/jquery-confirm-v3.3.0/dist/jquery-confirm.min.js"></script>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 additional-shop-info">
            <ul class="list-unstyled list-inline">
                <li><i class="fa fa-phone"></i><span>+039 438 1694</span></li>
                <li><i class="fa fa-envelope-o"></i><span> thiduyen.dang.98@gmail.com</span></li>
            </ul>
        </div>

    </div>
</div>
<div id="header">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" style="text-align: center;">
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <div class="logo">
                <a href="/">
                    <img src="image/logoabc.png" width="120" height="100" style="margin-left: 140px"></a>
            </div>
        </div>

    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Beauty 2D</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" style="margin-left: 150px;font-size: 18px ">Quản lý > <i id="temp">Quản lý tài khoản</i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 300px" href="#">Admin <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" style="margin-left: 300px">
                    <li><a href="#">Thông tin</a></li>
                    <li><a href="#">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

</div>

<div style="max-width:300px; margin-right: 20px;">
    <div class="vertical-menu col-sm-4">
        <a href="/admin" id="home" ><i class="glyphicon glyphicon-home"></i>&ensp;Trang chủ</a>
        <a href="/quanlytaikhoan" id="TaiKhoan" class="active"  ><i class="glyphicon glyphicon-user"></i>&ensp;Quản lý tài khoản</a>
        <a href="/quanlydonhang" id="DonHang" ><i class="glyphicon glyphicon-book"></i>&ensp;Quản lý đơn hàng</a>
        <a href="/quanlythongtin" id="ThongTin" ><i class="glyphicon glyphicon-tasks"></i>&ensp;Quản lý thông tin</a>
        <a href="/quanlysanpham" id="SanPham" ><i class="glyphicon glyphicon-sunglasses"></i>&ensp;Quản lý sản phẩm</a>
    </div>
</div>

<div style="margin-left: 300px;">
    <div class="col-md-12" style="float: right;">
        <div class="col-md-6"   style="padding-left:0" >
            <div class="form-group col-md-9"  style="padding-left:0">
                <input type="text" id="txt-search"  placeholder="Tim Kiếm" class="form-control">
            </div>
            <button class="btn btn-success" style="font-size: 15px" id="btn-seach" type="button" onclick="filter()">
                <i class="fa fa-search" aria-hidden="true"></i> Lọc</button>
        </div>
    </div>


    <div class="col-md-12" th:fragment="table-result" id="table-result">
        <table class="table table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th></th>
                <th>User name</th>
                <th>Password</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody id="tbody-account">
                <tr th:each="item : ${accounts}">
                    <td><input type="checkbox" th:value="${item.id}"></td>
                    <td style="display: none" th:text="${item.id}"></td>
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.password}"></td>
                    <td th:text="${item.customer.name}"></td>
                    <td th:text="${item.customer.phone}"></td>
                    <td th:text="${item.customer.email}"></td>
                    <td>

                        <button class="btn btn-warning">Sửa</button>
                        <button class="btn btn-danger" type="button" onclick="onDelete(event)">Xóa</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="col-md-6" style="color:black">
        <nav aria-label="...">
            <ul class="pagination" style="color:black;background-color : #A9A9A9">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active " ><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<script>
    $(document).ready(function(){
        $("#home").click(function(){
            $("#temp").text($(this).text());
        });
        $("#TaiKhoan").click(function(){
            $("#temp").text($(this).text());
        });
        $("#DonHang").click(function(){
            $("#temp").text($(this).text());
        });
        $("#ThongTin").click(function(){
            $("#temp").text($(this).text());
        });
        $("#SanPham").click(function(){
            $("#temp").text($(this).text());
        });
    });
    function filter() {
        var $keyword = $('#txt-search').val();
        console.log($keyword);
        $.ajax({
            method : 'POST',
            data : {keyword : $keyword},
            dataType : 'json',
            url : "/quanlytaikhoan",
            success : function(res) {
                console.log(res);
                var content = "";
                $.each(res, function(index, value) {
                    content += "<tr>"
                        +"<td><input type='checkbox'></td>"
                        +"<td>"+value.username+"</td>"
                        +"<td>"+value.password+"</td>"
                        +"<td>"+value.name+"</td>"
                        +"<td>"+value.phone+"</td>"
                        +"<td>"+value.email+"</td>"
                        +"<td>
                        "                        <button class=\"btn btn-warning\">Sửa</button>\n" +
                        "                        <button class=\"btn btn-danger\">Xóa</button></td>"
                        +"</tr>>"
                });
                $('#tbody-account').html(content);
            }
        })
    }
    function onDelete(e) {
        var $click = $(e.target).closest('td').closest('tr').find('td:eq(1)');
        var $id = $click.text();
        $.confirm({
            title : "Xác nhận!",
            content : "Bạn có muốn xóa tài khoản này ?",
            buttons : {
                YES : function() {
                    $.ajax({
                        method : 'POST',
                        data : {
                            id : $id,
                        },
                        dataType : 'json',
                        url: "/xoataikhoan",
                        success : function (res) {
                            console.log(res);
                            if(res.success == "true") {
                                $.alert({
                                    title:"Thông báo",
                                    content:"Xóa tài khoản thành công!"
                                });
                                var content="";
                                $.each(res.data,function (index, value) {
                                    content += "<tr>"
                                        +"<td><input type='checkbox' value=${value.id}`></td>"
                                        +" <td style=\"display: none\"  th:text=\"${item.id}\"></td>\n"
                                        +"<td>"+value.username+"</td>"
                                        +"<td>"+value.password+"</td>"
                                        +"<td>"+value.name+"</td>"
                                        +"<td>"+value.phone+"</td>"
                                        +"<td>"+value.email+"</td>"
                                        +"<td> <button class=\"btn btn-info\">Phân quyền</button>\n" +
                                        "                        <button class=\"btn btn-warning\">Sửa</button>\n" +
                                        "                        <button class=\"btn btn-danger\" onclick='onDelete(e)'>Xóa</button></td>"
                                        +"</tr>"
                                });
                                $('#tbody-account').html(content);

                            }
                            else if (res.success == "false") {
                                $.alert({
                                    title:"Thông báo",
                                    content:"Xóa tài khoản không thành công!" + res.error
                                })
                            }
                        },
                        failure : function (err) {
                            console.log(err);
                        },
                        error : function (err) {
                            console.log(err);
                        }
                    })
                },
                NO : function () {

                }
            }
        })
    }
</script>
</body>
</html>